
.filters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    span{
        position: relative;
        flex-basis: 150px;
        text-align: left;
        border: 1px solid $main_background;
        margin: 0 10px 10px 10px;
        cursor: pointer;
        transition: all 0.1s ease-in;
        &:hover{
            background-color: $page_background;
        }
        a{
            display: block;
            padding: 3px 5px 3px 10px;
            &.selected{
                background-color: $page_background;
                span{
                    display: block;
                }
                + .remove{
                    display: block;
                }
            }
        }
        .remove{
            display: none;
            position: absolute;
            top: -2px;
            right: 5px;
            font-size: 1.4em;
            padding: 0;
        }
    }
}
