
.footer{
    height: 100px;
    .footerContent{
        border-top: 1px solid $main_background;
        max-width: 1200px;
        padding: 20px 30px 0 30px;
        margin: 0 auto;
        position: relative;
        .menu{
            font-size: 0.8em;
            top: 20px;
            right: 30px;
            a{
                margin: 0 0 0 20px;
                color: $text_colour;
                font-weight: 400;
                &:hover{
                    background-color: $main_background;
                    color: $page_background;
                }
            }
        }
    }
}
