
.header{
    background-color: #de9797;
    height: 100px;
    .headerContent{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}

.menu{
    position: absolute;
    top: 40px;
    right: 20px;
    a{
        color: #ffffff;
        font-size: 1.3em;
        font-weight: 700;
        margin: 0 0 0 20px;
        cursor: pointer;
        transition: all 0.1s ease-in;
        &:hover{
            color: #932222;
        }
    }
}

.logo{
    background-image: url('/logo.png');
    text-indent: -100000px;
    height: 150px;
    width: 150px;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 50%;
}
