
.header{
    background-color: #de9797;
    height: 100px;
    .headerContent{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}

.menu{
    position: absolute;
    top: 70px;
    right: 20px;
    a{
        color: #ffffff;
        font-size: 1.3em;
        font-weight: 700;
        margin: 0 0 0 30px;
        cursor: pointer;
        padding: 0 5px;
        border-radius: 6px;
        text-decoration: none;
        transition: all 0.1s ease-in;
        &:hover{
            background-color: $page_background;
            color: $main_background;
        }
    }
}

.logo{
    background-image: url('/logo.png');
    text-indent: -100000px;
    height: 150px;
    width: 150px;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.basket{
    background-image: url('/basket.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    height: 30px;
    padding: 0 10px 0 40px;
    color: $page_background;
    border: 1px solid #de9797;
    text-decoration: none;
    transition: all 0.1s ease-in;
    &:hover{
        border: 1px solid $page_background;
    }
    p{
        height: 100%;
        padding: 8px 0 0 0;
    }
}
