
$main_background: #de9797;
$header_background: #de9797;
$header_background_70: rgba(222, 151, 151, 0.7);
$page_background: #ffe0e0;
$page_background_60: rgba(255,224,224,0.6);
$text_colour: #5f1f1f;

$white: #ffffff;
